body {
  background: #0f292e;
  color: white;
  font-family: "Cerebri Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  height: 600vh;
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 100px;
  padding-left: 100px;
}

.icon {
  font-size: 30px;
  font-style: italic;
}

.by {
  font-size: 16px;
  font-style: italic;
}

.by a {
  text-decoration: none;
  color: white;
}

.by a:hover, .by a:active {
  color: #2d82c8;
}

.lines {
  position: fixed;
  top: -100px;
  left: -100px;
  z-index: -100;
}

main {
  padding-right: 100px;
  padding-left: 100px;
}

.sections {
  display: flex;
  width: 100%;
  max-height: 60vh;
  min-height: 60vh;
}

.sections .content-wrapper {
  flex: 1;
}

.sections .content-wrapper h1 {
  font-size: 60px;
  width: 90%;
}

.sections .content-wrapper p {
  font-size: 20px;
  font-weight: 200;
  width: 68%;
  line-height: 40px;
}

.sections .section-image {
  flex: 1;
  min-height: 100%;
}

.section-1 .section-image .image-props {
  position: relative;
  min-height: 100%;
}

.section-1.active .section-image .image-props img {
  height: 160px;
  width: auto;
  position: absolute;
}

.section-1 .section-image .image-props .prop-1 {
  top: 5px;
  left: 0px;
}

.section-1 .section-image .image-props .prop-2 {
  top: 5px;
  right: 0px;
}

.section-1 .section-image .image-props .prop-3 {
  bottom: 5px;
  right: 0px;
}

.section-1 .section-image .image-props .prop-5 {
  bottom: 5px;
  left: 0px;
}

.section-1 .section-image .image-props .prop-4 {
  top: 40%;
  right: 40%;
}

footer {
  max-width: 85vw;
  min-width: 85vw;
  min-height: 50px;
  width: 85vw;
  top: 90vh;
  position: fixed;
  overflow: hidden;
  height: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 100px;
  padding-left: 100px;
  z-index: 3;
}

footer .dot {
  background-color: #32899A;
  height: 12px;
  width: 12px;
  border-radius: 6px;  
  position: relative;
  bottom: 5px;
  z-index: 5;
}

footer .dot.active::before{
  height:   18px;
  width:  18px;
  display: inline-block;
  content: '';
  border-radius: 9px;
  position: relative;
  border-width: 0.5px;
  border-style: solid;
  border-color: #32899A;
  right: 4px;
  bottom: 4px;
  z-index: 1;
}

footer .dot.active::after {
  height: 30px;
  width: 30px;
  display: inline-block;
  content: '';
  border-radius: 15px;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: #32899A40;
  right: 10px;
  bottom: 33px;
  z-index: 1;
}



.footer-wrapper {
  height: 3px;
  background-color: #ffffff60;
  position: absolute;
  right:100px;
  left: 100px;
  bottom: 57%;
  z-index: 1;
}


